#
# This systemd unit starts a lms instance using Podman.
# Most parts of this file come from podman-generate-systemd.
#

[Unit]
Description=Podman lms.service
Requires=logitechmediaserver.service
Before=logitechmediaserver.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=-%S/state/environment
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/lms.pid %t/lms.pod-id
ExecStartPre=/usr/bin/podman pod create --infra-conmon-pidfile %t/lms.pid \
    --pod-id-file %t/lms.pod-id \
    --name lms \
    --publish ${LMS_WEB_STREAM_PORT}:${LMS_WEB_STREAM_PORT} \
    --publish 9090:9090 \
    --publish 3483:3483/tcp \
    --publish 3483:3483/udp \
    --replace
ExecStart=/usr/bin/podman pod start --pod-id-file %t/lms.pod-id
ExecStop=/usr/bin/podman pod stop --ignore --pod-id-file %t/lms.pod-id -t 10
ExecStopPost=/usr/bin/podman pod rm --ignore -f --pod-id-file %t/lms.pod-id
PIDFile=%t/lms.pid
Type=forking

[Install]
WantedBy=default.target


